<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885607646977-f9eeb5juj6fsv559e6d8rql03agig2oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885607646977-f9eeb5juj6fsv559e6d8rql03agig2oo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885607646977-03mo56d17sh3eesok6a5v9hemp5bfujo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvJz7_dwdv3_QXEAFrlPCo4TVN8mYDJIg</string>
	<key>GCM_SENDER_ID</key>
	<string>885607646977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcos1503.tccapp</string>
	<key>PROJECT_ID</key>
	<string>tccapp-1872d</string>
	<key>STORAGE_BUCKET</key>
	<string>tccapp-1872d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885607646977:ios:0fd4371c13d5cc54347d00</string>
</dict>
</plist>